p{
    color: red;
    text-decoration: underline;
    
}
h1{
color: goldenrod;
font-size: 75px;
text-align:center;

}

#third_h1{  

color: blue;
}

div{
    color: pink;
}


.move-to-right{
    text-align: right;
}